DEVICE=bond0NAME=bond0TYPE=BondBONDING_MASTER=yesONBOOT=yesIPADDR=10.50.71.4GATEWAY=10.50.71.1PREFIX=24BOOTPROTO=nodeBONDING_OPTS="mode=802.3ad miimon=10 lacp_rate=1 xmit_hash_police=layer"3+4